html{
    width:100%;
    height:100%;
    min-height:100%;
}
#login img{
    margin: 10px 0;
}
#login .center {
    text-align: center;
}
.form-control{
    max-width:300px;
}
.mssg-container{
    background-color: rgb(38,64,120);
    display:flex;
    flex-flow: column;
    height:100vh;
    padding: 0px 25px;
}

.form-container{
    display:flex;
    flex-flow: column;
    height:100vh;
}
.mssg-text-hdr{
    color:white;
    font-size: 54px;
    font-family: 'Merriweather', serif;
}
.mssg-text-body{
    color:white;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
}
.mssg-text-footer{
    color:white;
    font-size: 32px;
    font-family: 'Source Sans Pro', sans-serif;
}
.text-body{
  font-family: 'Merriweather', serif;
}
.input-hdr{
    font-size:120px;
    font-family: 'Merriweather', serif;
    padding: 0px 10px;
}
#login .login-form {
    padding:0px 25px;
}

div#login{
    display:flex;
    flex-flow: column;
    height:100%;
    min-height:100%;
}

.form-btn{
    background-color: rgb(178,59,67);
    color: white;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
}

.grey-text{
    color: grey;
}

.form-btn::hover{
    background-color: white;
    color:black;
}
.btn-light:hover{
    border-color: rgb(178,59,67);
}
.top-bar{
    min-height:60px;
    height:60px;
    background-color: rgb(38,64,120);
}
.site-name{
    color:white;
    font-size: 28px;
    float:left;
    font-family: 'Merriweather', serif;
    margin-left: 30px;
    margin-top:10px;
}
.side-bar{
    background-color: rgb(233,233,233);
    min-height:100vh;
}

.main-content{
    min-height:100vh;
}

.upload-btn{
    margin-top: 40px;
    height:60px;
    width: 120px;
}

.h-divider{
 margin-top:5px;
 margin-bottom:5px;
 margin-left:2px;
 margin-right:2px;
 height:1px;
 width:100%;
 border-top:1px solid black;
}

.home-icon{
    background-image:"../../media/icons/home.svg";
    height:2px;
    width:2px;
    margin-left:5px;
}

.page-header{
    margin-top:50px;
    font-size:54px;
}

.inner-page-header{
    margin-top:25px;
    font-size: 36px;
}

#upload-vid-btn-container{
    background-color:rgb(233,233,233);
    height:250px;
    width:90%;
}
.page-content{
    margin-left: 50px;
}
#page-upload-btn{

}
h3.nav-link{
    font-size:18px;
}


* {border:0;outline:0;}

label#largeFile:after {
  position:absolute;
  width:60%;
  max-width:800px;
  content:"Upload your file";
  left:0;
  right:0;
  margin:50px auto;
  text-align:center;
  padding:50px 0px 50px 0px;
  border-radius:10px;
  border:5px dashed #ccc;
  color:#ccc;
  font-family:"Helvetica Neue", Helvetica, Arial;
  font-size:30px;
}

label#largeFile:hover:after {
  background:#ccc;
  color:#fff;
  cursor:pointer;
}


label#largeFile input#file {
    width: 0px;
    height: 0px;
}

#fileSelector{
    width:100%;
    height:50vh;
}

#hidden-file-selector{
    display:none;
}
