<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>
<body>
    <div id="login">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="center mssg-container justify-content-center">
                    <div class="mssg-text">
                        <h1 class="mssg-text-hdr">Welcome Back!</h1>
                        <p class="mssg-text-body">
                            Log in to help us serve you best.
                        </p>
                        <p class="mssg-text-footer">
                            Don't have an account?
                        </p>
                    </div>
                    <button type="button bottom-right" class="form-btn btn
                    btn-light ml-auto flex-end">Signup</button>
                </div>
            </div>

            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="login form-container justify-content-center">
                    <!-- <div class="center">
                         </div> -->
                    <!-- <form action="/users/login" style="" class="login-form" id="UserLoginForm" method="post" accept-charset="utf-8"> -->
                    <form name="login-form" class="login-form" action="" method="post">
                        <div class="form-group">
                            <h1 class="input-hdr center">Log in</h1>
                            <div class="input-group">
                            <input name="data[User][username]"
                required="required" class="form-control mx-auto" placeholder="Username" maxlength="255" type="text" id="UserUsername">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <input name="data[User][password]"
                required="required" class="form-control mx-auto" placeholder="Password" type="password" id="UserPassword">
                            <i class="glyphicon glyphicon-lock"></i>
                            </div>
                        </div>
                        <div class="center form-group">
                            <button type="button " class="form-btn btn
                btn-light mx-auto">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
